body {
  background-color: #4A314D;
  color: #ffffff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 14px;
}

h1, h2 {
  color: #1A090D;
}

.full {
  display: flex;
  flex-direction: column;
}

.listWrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2em;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  cursor: pointer;
}

.thumbnail {
  max-width: 100px;
}

.fullImg{
  max-width: 400px;
}

.text {
  font-size: 16px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

.backBtn {
  align-self: end;
}

